# Copy to be/scripts/dropbox-sync.env and adjust values
BP_ROOT=/home/debian/BP/be
AUDIO_DIR=/home/debian/BP/be/audioprompts
SURVEY_DIR=/home/debian/BP/be/survey
RCLONE_BIN=/usr/bin/rclone
RCLONE_REMOTE=dropbox:BP_Subject_Recordings
MIN_AGE=2m
LOG_FILE=/home/debian/BP/be/dropbox-sync.log
